.about{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.about>h1{
    text-align: center;
    /* text-decoration: underline; */
    letter-spacing: 1px;
}
#amain{
    display: flex;
    text-align: left;
    width: 100%;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    box-shadow: rgba(244, 249, 250, 0.959) 0px 3px 8px;
    color: #0f0;
}
#amain img{
    width: 80%;
    border-radius: 100%;

}
#amain h1{
    text-align: center;
}
#amain>div:nth-child(1){
    width: 100%;
    padding: 2%;
}
#amain>div:nth-child(2){
    width: 80%;
}
section{
    position: fixed;
    /* z-index: -1; */
    width: 99%;
    height: 99%;
    background-color: #111; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section .row{
    position: relative;
    width: 100%;
    top: -50%;
    display: flex;
    padding: 10px 0;
    white-space:nowrap;
    font-size: 44px;
    transform: rotate(-30deg);
} 
i{
    color:rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;

} 
i:hover{
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
}
section .row div{
    animation: animate 80s linear infinite;
    animation-delay: -80s;
}
section .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
section .row:nth-child(even) div{
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}
section .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate3{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate4{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}
