#projects{
  position: relative;
  display: block;
  margin-top: 60px;
}
.project1 img,.project2 img{
  width: 100%;
}
#projects>h1{
  text-align: center;
  font-size: 34px;
}
#projects>p{
  font-size: 10px;
  text-align: center;
  margin-top: -20px;
}
#projects>div{
  width: 100%;
  background-color: #2222;
  padding-top: 5px;
  padding-bottom: 5px;
}
.project1,.project2{
    width: 78%;
    padding: 3%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: rgba(243, 243, 245, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.project1>div,.project2>div{
  width: 50%;
}
#fixing1,#fixing2{
    left: 11.99%;
    top: 8.6%;
    margin: auto;
    position: absolute;
    /* width: 180px; */
    width: 76.2%;
    height: 77.6%;        
    background-color: #25CF60;
    transition: 500ms;
}
.comimg{
  position: relative;
}
.t-stack{
  display: block;
}
.t-stack>p{
  display: flex;
  align-items: center;
  gap: 2%;
}
.techstack_btn{
  display: flex;
  gap: 3%;
}
.project_info{
  width: 88%;
}
@media screen and (max-width:900px){
  .project1,.project2{
      width: 80%;
      margin: auto;
      display: block;
      text-align: center;
      margin-bottom: 50px;
  
  }
  .project1 img,.project2 img{
    width: 100%;
  }
  .project1>div,.project2>div{
    width: 100%;
    padding: 2%;
  }
  #fixing1,#fixing2{
      left: 13.15%;
      top: 11.0%;
      margin: auto;
      /* width: 180px; */
      width: 73.6%;
      height: 73.2%;  
      border-radius: 0px 0px 2% 2%;      
  }
  .t-stack{
    align-items: center;
  }
  .t-stack>p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  .techstack_btn{
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
  }
  .project_info{
    width: 90%;
    margin: auto;
  }
  /* #projects img{
    width: 90%;
  } */
}