.skill{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    padding: 2%;
}
.skill>div{
    display: block;
}
#pskill,#tool{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    /* transform-style: preserve-3d;
    transform: translateZ(20px) */
    /* justify-content: space-around; */
}
.skill img{
    width: 72px;
    height: 72px;
    padding: 5%;
    transform-style: preserve-3d;
    transform: translateZ(100px);
    border-radius: 20px;
    background: linear-gradient(#0f0 0%, #fff0 70%,#1d1d1d 100%);
    background-size: cover;
}
#tool>div,#pskill>div{
    padding: 5%;
    margin: 10%;
    background-color: #222;
    /* margin-bottom: 6%; */
    border-radius: 30px;
    transform-style: preserve-3d;
    transform: translateZ(100px);
    background: linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%);
    background-size: cover;
    /* box-shadow: rgba(16, 16, 75, 0.759) 0px 7px 29px 0px; */
    border-radius: 20px;
    
}
#tool>div:hover, #pskill>div:hover{
     box-shadow:0px 3px 8px #0f0;
     
}
@media screen and (max-width:1200px){
    #pskill,#tool{
        grid-template-columns: repeat(3,auto);
    }
    .skill{
        width: 70%;
    }
}

@media screen and (max-width:880px){
    #pskill,#tool{
        grid-template-columns: repeat(2,auto);
    }
    .skill{
        width: 80%;
    }
    .skill img{
        transform-style: preserve-3d;
        transform: translateZ(60px);
    }
}

