#skill{
    width: 65%;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 2%;
}
#skill>div{
    /* display: block; */
    background-color: #2222;
    box-shadow: rgba(240, 238, 238, 0.24) 0px 3px 8px;
}
#pskill,#tool{
    display: grid;
    /* margin-bottom: 100px; */
    margin-top: 30px;
    grid-template-columns:repeat(4,1fr);
    /* transform-style: preserve-3d;
    transform: translateZ(20px) */
    /* justify-content: space-around; */
    border-radius: 30px;
    padding: 2%;
}
#skill img{
    width: 72px;
    height: 72px;
    padding: 5%;
    transform-style: preserve-3d;
    transform: translateZ(100px);
    border-radius: 20px;
    /* background: linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%); */
    background-size: cover;
    background-color: #2222;
    box-shadow: rgba(184, 184, 196, 0.759) 0px 7px 29px 0px; 
}
#tool>div,#pskill>div{
    padding: 3%;
    margin: 13%;
    background-color: #222;
    /* margin-bottom: 6%; */
    border-radius: 30px;
    transform-style: preserve-3d;
    transform: translateZ(100px);
    background: linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%);
    background-size: cover;
    /* */
    border-radius: 20px;
    
}
#tool>div:hover, #pskill>div:hover{
     box-shadow:0px 3px 8px #0f0;
     
}
#skill h1{
    font-size: 34px;
    margin-bottom: 50px;
}
@media screen and (max-width:1200px){
    #pskill,#tool{
        grid-template-columns: repeat(3,auto);
    }
    #skill{
        width: 70%;
    }
}

@media screen and (max-width:880px){
    #pskill,#tool{
        grid-template-columns: repeat(2,1fr);
    }
    #skill{
        width: 80%;
    }
    #skill img{
        transform-style: preserve-3d;
        transform: translateZ(20px);
        width: 60px;
        height: 60px;
        padding: 4%;
    }
    #tool>div,#pskill>div{
        padding: 3%;
        margin: 6%;
    }
}

