#projects{
  position: relative;
  display: block;
  margin-top: 60px;
}
.project1 img,.project2 img,.project3 img{
  width: 100%;
}
#projects>h1{
  text-align: center;
  font-size: 34px;
}
#projects>p{
  font-size: 10px;
  text-align: center;
  margin-top: -20px;
}
#projects>div>div{
  width: 100%;
  background-color: #2222;
  padding-top: 5px;
  padding-bottom: 5px;
}
.project1,.project2,.project3{
    width: 78%;
    padding: 3%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: rgba(243, 243, 245, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.project1>div,.project2>div,.project3>div{
  width: 50%;
}
#fixing1,#fixing2,#fixing3{
    left: 11.99%;
    top: 8.6%;
    margin: auto;
    position: absolute;
    /* width: 180px; */
    width: 76.2%;
    height: 77.6%;        
    background-color: #25CF60;
    transition: 500ms;
}
.comimg{
  position: relative;
}
.project-tech-stack{
  display: block;
}
.project-tech-stack img{
  width: 45px;
  height: 39px;
  padding: 2px;
}
.project-tech-stack>p{
  display: flex;
  align-items: center;
  gap: 2%;
}
.techstack_btn{
  display: flex;
  gap: 3%;
}
.project_info{
  width: 88%;
}
#loadMore{
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #2222;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#loadMore>input{
  position: absolute;
  left: 50%;
}



@media screen and (max-width:900px){
  .project1,.project2,.project3{
      width: 80%;
      margin: auto;
      display: block;
      text-align: center;
      margin-bottom: 50px;
  
  }

  .project1 a,.project2 a,.project3 a{
    font-size: 16px;
  }
  
  .project1 img,.project2 img,.project3 img{
    width: 100%;
  }
  .project1>div,.project2>div,.project3>div{
    width: 100%;
    padding: 2%;
  }
  #fixing1,#fixing2,#fixing3{
      left: 13.15%;
      top: 11.0%;
      margin: auto;
      /* width: 180px; */
      width: 73.6%;
      height: 73.2%;  
      border-radius: 0px 0px 2% 2%;      
  }
  .project-tech-stack{
    align-items: center;
  }
  .project-tech-stack>p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  .techstack_btn{
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
  }
  .project_info{
    width: 90%;
    margin: auto;
  }
  /* #projects img{
    width: 90%;
  } */
}